.btn{
    color: #ECECEC;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
}

.btn-controllers{
    background-color: #383838;
    border-radius:10em;
    display: flex;
    gap: 0.5rem;
}

.settings-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ECECEC;
    color: #383838;
    transition: 0.3s;
}

