/*----------- FONTS -----------*/
/* @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* .gaegu-regular {
    font-family: "Gaegu", serif;
    font-weight: 400;
    font-style: normal;
  }

  .gaegu-bold {
    font-family: "Gaegu", serif;
    font-weight: 700;
    font-style: normal;
  } */

  .outfit-light {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .outfit-regular {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .outfit-bold {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

/*----------- STYLES -----------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #252525;
    position: relative;
    color: #ECECEC;
}

h1{
    font-size: 5rem
}

h2{
    font-size: 8rem;
}

/* ----------- NAVBAR ----------- */

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/* ----------- HOME -----------*/

.home__container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.timer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.timer__btn-controllers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/*----------- FOOTER -----------*/
.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}

.footer__container p, .footer__container a{
    color: rgb(107, 107, 107);
}
/*----------- MEDIA QUERIES -----------*/
@media (max-width: 768px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 5rem;
    }

    .btn img{
        width: 3rem;
    }

    .btn-small img{
        width: 2rem;
    }
}